body {
  padding-top: 70px;
}

.navbar-default .navbar-brand {
  color: #9d2235;
}

.navbar-default .navbar-nav>li>a {
  color: #9d2235;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #9d2235;
}

textarea#file_output {
  width: 100%;
  height: 20em;
}

textarea#network_output {
  width: 100%;
  height: 20em;
}
